*{
    height: 100%;
}
body {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(2, 3, 80));
    color: white;
}
header {
    display: block;
    height: 15%;
    width: auto;
    margin: 0px;
}
main {
    display: block;
    border-style: solid;
    border-radius: 10px;
    height: 85%;
    margin: 5px;
    background-color: black;
}
a{
    color: aliceblue;
    text-decoration: none;
}
img {
    width: 150px;
    height: 175px;
}
img.redes{
    width: 30px;
    height: 30px;
}
ul{
    height: 40px;
}
.main {
    margin: 15px;
    height: auto;
}
.header {
    display: inline-block;
    height: auto;
    margin: 5px;
}
ul.header{
    display: block;
}
#habilidade {
    display: none;
}
.atalhos {
    display: inline-block;
    height: 20px;
    width: 120px;
    margin: 5px;
    text-align: center;
}
a:hover {
    font-size: large;
}
a:visited {
    font-style: italic;
}